.container_tarefa {
    background-color: var(--gray-500);
    margin-top: 30px;
    height: 72px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
}

.container_tarefa_conluida {
    background-color: var(--gray-700);
    margin-top: 30px;
    height: 72px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
}
.texto_tarefa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    word-wrap: break-word;
    font-size: 14;
    font-weight: 100;
    color: var(--gray-100);
}
.texto_tarefa_concluida {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    word-wrap: break-word;
    font-size: 14;
    font-weight: 100;
    color: var(--gray-100);
    text-decoration: line-through;
}
.tarefa {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--dark-blue);
    cursor: pointer;
}
.tarefa svg {
    display: none;
}
.tarefa_concluida {
    background-color: var(--dark-blue);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
}
.tarefa_concluida svg {
    color: white;
}

.icone_lixeira {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 35px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.icone_lixeira:hover {
    background-color: var(--gray-400);
}
.icone_lixeira svg {
    color: white;
}