.container_tarefa {
    background-color: var(--gray-500);
    margin-top: 30px;
    height: 72px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    
}
.texto_tarefa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    word-wrap: break-word;
    font-size: 14;
    font-weight: 100;
    color: var(--gray-100);
}
.concluida {
    text-decoration: line-through;
}
.tarefa_nao_concluida {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--dark-blue);
    cursor: pointer;
}

.tarefa_nao_concluida svg {
    display: none;
}

.tarefa_concluida {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    cursor: pointer;
}

.tarefa_concluida svg {
    font-weight: bold;
    display: block;
}
.icone_lixeira {
    display: flex;
    align-items: center;
    justify-content: center;
}