.container_lista {
    margin: auto;
    width: 736px;
}
.container_lista header {
    display: flex;
    justify-content: space-between;
}
.container_lista header .tarefas {
    display: flex;
}
header .tarefas p:first-of-type {
    color: var(--blue) ;
    font-weight: bold;
}
header .tarefas p {
    margin-right: 10px;
}
header .tarefas .numero {
    color: white;
    font-weight: bold;
}
.nenhuma_tarefa {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: none;
}
.nenhuma_tarefa p:first-of-type{
    margin-top: 20px;
}