
.container_header {
    width: 100%;
    height: 200px;
    background-color: var(--gray-700) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto
}
.img_logo{
    width: 126px;
    height: 48px;
}